NETEASE_ENABLED=1
NETEASE_BASEURL=https://example.com
NETEASE_EMAIL=example@163.com
NETEASE_PASSWORD=EXAMPLE_PASSWORD
JWT_SERECT=MYJWTSECRET
JWT_EXPIRE_TIME=1000s
DB_HOST=db
DB_PORT=3306
DB_USERNAME=dbusername
DB_PASSWORD=dbpassword
DB_DATABASE=mushmallow